*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    /* justify-content: center;
    display: flex; */
}
#nav>article{
    height: 80px;
    width: 77.8%;
    /* border: 2px solid red;  */
    display: flex;  
   
}
#nav>article>.logo{
    height: 80px;
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
#nav>article>.logo>svg{
   
    width: 23%;
    fill: white;

}
#nav>article>.menu{
    height: 80px;
    width: 50%;
    /* background-color: white; */
}
#nav>article>.menu>ol{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
    
#nav>article>.menu>ol>li>a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 15px;


}
#nav>article>.menu>ol>li>a:hover{
    color: rgb(30,214,96);
}

#home{
    height: 81vh;
    width: 100%;
  
    background: url(./assets/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));

    display: flex;
    justify-content: center;
    align-items: end;
}

#home>article
{
    height: 83%;
    width: 70%;
    /* background-color: aqua; */
    display: flex;
    


}

#home>article>.mobile{
    height: 100%;
    width: 35%;
    /* background-color: white; */
   
  
   
}

#home>article>.content{
    height: 100%;
    width: 65%;
    /* background-color: antiquewhite; */
    
    
    
}
#home>article>.content>h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 79px;
    margin-left: 35px; 
    letter-spacing: -2px;
    /* font-weight: 900px; */
}
#home>article>.content>button{
    /* 
    font-size: 15px;
    margin-top: 40px;
   
    border: 14px solid white;
    border-radius: 30px;
    font-weight: bold; */
     /* color: white; */
     font-family: Arial, Helvetica, sans-serif;
     height: 45px;
     width: 190px;
     border-radius: 40px;
     border: none;
     font-weight: bold;
     margin-top: 30px;
     margin-left: 40px;
     
}
#home>article>.content>button:hover{
    transform: scale(1.05);
}

#home>article>.mobile{
   
    border-radius: 35px;

}
#home>article>.mobile>.photo{
    height: 92%;
    width: 100%;


}
#home>article>.mobile>.cover
{
    height: 5%;
    width: 72%;
    border: 30px solid white;
    /* margin-left: 40px; */
    margin-top: 15px;
    margin-left: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
}
#home>article>.mobile>.cover>.dot
{
    height: 7px;
    width: 44px;
    background-color: black;
    border-radius: 30px;
}
#home>article>.mobile>.photo>img{
    height: 530px;
    width: 72%;
    /* margin-top: 60px; */
    padding-bottom: 100px;
    margin-left: 30px;
    /* padding-left: 30px; */
    border: 5px solid white;
}

 


